{% extends 'base.html' %}
{% block content %}

<h3>Add Book</h3>

<div class="">
<form class="col s12" method="POST" action="{{ url_for('add_book') }}">
<div class="row">
    <div class="form-outline">
        <input type="text" id="book_title" name="book_title" class="validate" required />
        <label class="form-label" for="book_title">Book Name</label>
      </div>
</div>
<div class="row">
    <div class="form-outline">
        <input type="text" id="book_author" name="book_author" class="validate" required />
        <label class="form-label" for="book_author">Book Author</label>
      </div>
</div>
<div class="row">
    <div class="form-outline">
        <input type="text" id="current_status" name="current_status" class="validate" required />
        <label class="form-label" for="current_status">Current Status</label>
      </div>
</div>
<div class="">
    <div>
        <button type="submit" class="btn-lg btn-primary">Add</button>
    </div>
    
    </div>   
 </form>
</div>
{% endblock %}