{% extends 'base.html' %}
{% block content %}


<div class="container gp">
<h3>Add New Books</h3>

<form class="col s12" method="POST" action="{{ url_for('add_book')}}">
         <!-- Book name -->
<div class="row gap">
    <div class="form-outline">
        <label class="form-label" for="book_title">Book Name:</label>
        <input type="text" id="book_title" name="book_title" class="validate" required />
      </div>
</div>
         <!-- Book author -->
<div class="row">
    <div class="form-outline">
        <label class="form-label" for="book_author">Book Author:</label>
        <input type="text" id="book_author" name="book_author" class="validate" required />
      </div>
</div>
         <!-- Current status -->
<div class="row">
    <div class="form-outline">
        <select id="current_status" name="current_status" class="validate" required class="form-select" aria-label="Default select example">
            <option selected>Current Status</option>
            <option value="1">Read</option>
            <option value="2">Not Read</option>
          </select>
</div>
</div>
         <!-- Book category -->
<div class="row">
    <div class="form-outline">
        <select id="category_id" name="category_id" class="validate" required>
            <option value="" disabled selected>Choose Category</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.category_name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row gp">
    <div>
        <a href="{{ url_for('add_book')}}" type= "submit" class="btn btn-info">Add</a>
    </div>
    
    </div>   
 </form>
</div>
{% endblock %}