{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid gp">
    <div class="container">
      <h3 class="display-4">Add Category</h3>
  </div>
</div>
<div class="">
<form class="col s12" method="POST" action="{{ url_for('add_category') }}">
<div class="row">
    <div class="form-outline">
        <label class="form-label" for="category_name">Category Name:</label>
        <input type="text" id="category_name" name="category_name" class="validate" required />
      </div>
</div>
    <div>
        <button type="submit" class="btn btn-info">Add</button>
    </div>
    
 </form>
</div>
{% endblock %}