{% extends 'base.html' %}
{% block content %}

<h3>Add Category</h3>

<div class="">
<form class="col s12" method="POST" action="{{ url_for('add_category') }}">
<div class="row">
    <div class="form-outline">
        <input type="text" id="category_name" name="category_name" class="validate" required />
        <label class="form-label" for="category_name">Category Name</label>
      </div>
</div>
<div class="">
    <div>
        <button type="submit" class="btn-lg btn-primary">Add</button>
    </div>
    </div>   
 </form>
</div>
{% endblock %}