{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid gp">
    <div class="container">
      <h3 class="display-4">Add Category</h3>
  </div>
</div>

    <!-- form for adding a new category -->

<div class="container style">
<form method="POST" action="{{ url_for('add_category') }}">
    <div class="form-group">
        <label class="form-label" for="category_name"></label>
        <input type="text" id="category_name" name="category_name" minlength="4" class="validate form-control" placeholder="Category Name" required/>
</div>
    <div>

            <!-- 'Submit' button -->

        <button type="submit" class="btn btn-info gap"><strong>Submit</strong></button>
    </div>
    
 </form>
</div>
{% endblock %}