{% extends 'base.html' %}
{% block content %}

<h3 class="p-4 text-center">Books</h3>

    <!-- 'add category' button -->

<div class="container">
    <div class="row">
        <a href="{{url_for('add_book')}}" class="btn btn-success btn-rounded col-6 mx-auto" role="button" aria-pressed="true">
            Add Book
        </a>
    </div>
    </div>
    <ul class="list-group">
        {% for book in books %}
        <li class="list-group-item">{{ task.task_name }}</li>
        {% endfor %}
      </ul>
    {% endblock %}