{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid gp">
    <div class="container-fluid">
      <h4 class="display-4">All your books are here!</h4>
          <!-- 'add books' button -->
      <a class="btn btn-info btn-lg gp" href="{{ url_for('add_book') }}" role="button"><strong>Add Books</strong></a>  </div>
  </div>
</div>
    <!-- list of added books -->
    <div class="list-group">
      <ol>
  {% for book in books %}
  <li class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><strong>{{ book.book_title }} </strong></h5>
    </div>
    <p class="mb-1"><strong>Author:</strong>  {{ book.book_author}}</p>

    <p class="mb-1"><strong>Description:</strong> {{ book.book_description }}</p>

    <p class="mb-1"><strong>Status:</strong> {{ book.current_status}}</p>
    <p class="mb-1"><strong>Status:</strong> {{ book.category}}</p>


      </li>
        {% endfor %}
    </ol>
    <div>
      <a href="{{ url_for('edit_book', book_id=book.id)}}" class="btn btn-info btn-sm">Edit</a>

    </div>
</div>
    {% endblock %}
