{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid gp">
    <div class="container-fluid">
      <h4 class="display-4">All your books are here!</h4>
          <!-- 'add books' button -->
      <a class="btn btn-info btn-lg gp" href="{{ url_for('add_book') }}" role="button"><strong>Add Books</strong></a>  </div>
  </div>
</div>
    <!-- list of added books -->
    <div class="container-fluid">
      <div class="row display">
        <ul>
      {% for book in books %}
      <div class="card" style="width: 18rem;">
          <div class="card-body">

            <h4 class="card-title"><strong>{{ book.book_title }}</strong></h4>
            <p class="card-text"><strong>Author:</strong>  {{ book.book_author}}</p>
            <p class="card-text"><strong>Description:</strong> {{ book.book_description }}</p>
            <p class="card-text"><strong>Status:</strong> {{ book.current_status }}</p>
            <p class="card-text"><strong>Category:</strong> {{ book.category }}</p>
            <a href="{{ url_for('delete_book', book_id=book.id)}}" class="btn btn-secondary btn-sm">Delete</a>


          </div>
        </div>
        {% endfor %}
        </ul>
      </div>
      </div>
    {% endblock %}


   