{% extends 'base.html' %}
{% block content %}

<h3>Edit Books</h3>

<div class="">
<form class="col s12" method="POST" action="{{ url_for('edit_book', book_id=book_id)}}">
         <!-- Book name -->

<div class="row">
    <div class="form-outline">
        <input type="text" id="book_title" name="book_title" class="validate" required />
        <label class="form-label" for="booklibrary/templates/add_book.html">Book Name</label>
      </div>
</div>
         <!-- Book author -->

<div class="row">
    <div class="form-outline">
        <input type="text" id="book_author" name="book_author" class="validate" required />
        <label class="form-label" for="book_author">Book Author</label>
      </div>
</div>
         <!-- Current status -->

<div class="row">
    <div class="form-outline">

        <select id="current_status" name="current_status" class="validate" required class="form-select" aria-label="Default select example">
            <option selected>Current Status</option>
            <option value="1">Read</option>
            <option value="2">Not Read</option>
          </select>
</div>
</div>
         <!-- Book category -->

<div class="row">
    <div class="form-outline">
        <select id="category_id" name="category_id" class="validate" required>
            <option value="" disabled selected>Choose Category</option>
            {% for category in categories %}
            {% if category == book.category %}
                <option value="{{ category.id }}" selected>{{ category.category_name }}</option>
                {% else %}
                <option value="{{ category.id }}">{{ category.category_name }}</option>
            {% endfor %}
        </select>
        <label for="category_id">Category</label>
    </div>
</div>
<div class="">
    <div>
                 <!-- Submit button -->

        <a href="{{ url_for('add_book', category_id=category.id)}}" type= "submit" class="btn red">Add</a>
    </div>
    
    </div>   
 </form>
</div>
{% endblock %}