.space {
    margin-top: 200px;
}

.gap {
    margin: 10px auto;

}


.gp {
    margin-top: 30px;
}

body {
    background-image: url('https://images2.minutemediacdn.com/image/upload/c_fill,w_1080,ar_16:9,f_auto,q_auto,g_auto/shape%2Fcover%2Fsport%2F559404-istock-512966920-0-50208d6d9cc4851b46f975a876f49814.jpg');
    background-size: cover;  
    background-position: center;


}

.container {
    text-align: center;
}

.display {
    display: inline-block;
    
}


.style {
    margin: auto;
    height:50%;
    width:90%;
    background-color: rgba(64, 64, 64, 0.7)
}


  h4, h3, h1 {
    color: rgb(89, 89, 89);

}


h5 {
   color: rgb(8, 148, 153);

    text-transform: capitalize;
}

p {
text-align: left;
text-transform: capitalize;
}

